
pygeos_and_shapely/trials_1/
pygeos_and_shapely/points/
pygeos_and_shapely/coplanar_polygons/
pygeos_and_shapely/linestrings/

.DS_Store
__pycache__/
.idea/

pygeos_and_shapely/main_pygeos.py
pygeos_and_shapely/pygeos_shapely.py